<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue todolist</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

<style type="text/css" media="screen"> 
	[v-cloak]{display:none}

</style>
</head>
<body>
<div id="app" v-cloak>
    <form>
        <input type="" v-model="inputValue" name="">
        <button type="" @click="submitBtn">提交</button>
    </form>

    <ul>
        <todo-li v-for="(item, index) in list" :key="index" :content="item"></todo-li>
    </ul>
     
</div>

<script>




var TodoLi = {
    props: ['content'],
    template: '<li>{{content}}</li>'
}
 
var app = new Vue({
    el: '#app',
    components: {
        'todo-li': TodoLi
    },
    data: {
        inputValue: 'hi',
        list: []
    }, 
    methods: {
        submitBtn: function(){
            event.preventDefault(); //防止页面跳转
            this.list.push(this.inputValue);
            this.inputValue='';
        }

    }
});

</script>
</body>
</html>